<mat-toolbar>
    <a mat-raised-button class="p10" color="secondary" routerLink="/clients">Назад</a>
      <h1 *ngIf="client">Клиент: {{client.fullName}} </h1>

    </mat-toolbar>
  <div class="flex-container">
    <div style="margin:0 15px">
      <mat-card class="example-card">
        <mat-card-content>
           <img [src]="client.photo" style="width: 300px;">

          </mat-card-content>
          <mat-card-actions>
            <button mat-raised-button routerLink="/client/{{client.id}}/upload-avatar">Фото</button>
            <a mat-raised-button  *ngIf="client"  routerLink="/client/{{client.id}}/update">Изменить</a>
            <button mat-raised-button color="warn" (click)="delete(client.id)">Удалить</button>
          </mat-card-actions>
    </mat-card>
    </div>
    <div style=" width: 100%;">
      <mat-tab-group style="width: 100%;">
        <mat-tab label="Инфо">
          <p class="info-row" *ngIf="client"><span>Название </span>{{client.fullName}}</p>
          <p  class="info-row"> <span>Номер телефона </span>{{client.phoneNumber}}</p>
          <p class="info-row"><span>Электронная почта </span>{{client.email}}</p>
          </mat-tab>
            <mat-tab label="Проекты" *ngIf="client" >

         

         </mat-tab>

      </mat-tab-group>
    </div>
  </div>
