<mat-nav-list>
    <div class="profile-card">
        <div class="header">
            <h2>{{userLogin}}</h2>
            
        </div>
        <img src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Soufiane FADIL">
    </div>

    <mat-divider></mat-divider>

    <h2 matSubheader>Страницы</h2>

    <a mat-list-item routerLinkActive="list-item-active" routerLink="/">Главная</a>
    <a mat-list-item routerLinkActive="list-item-active" routerLink="/employee">Сотрудники</a>
    <a mat-list-item routerLinkActive="list-item-active" routerLink="/clients">Клиенты</a>
    <a *ngIf="userLogin!='Test'" mat-list-item routerLinkActive="list-item-active" routerLink="/settings">Настройки</a>

    <mat-divider></mat-divider>

    

</mat-nav-list>
