<mat-toolbar color="primary">
    <mat-toolbar-row>
        <button mat-icon-button>
            <mat-icon mat-icon-button (click)="toggleSideBar()">menu</mat-icon>
        </button>
        <span>Kronx</span>

    <div fxFlex fxLayout="row" fxLayoutAlign="flex-end">
        <ul fxLayout="row" fxLayoutGap="20px">
      
            <li>
                <button mat-button [matMenuTriggerFor]="menu">
                    <mat-icon>person_outline</mat-icon></button>
                <mat-menu #menu="matMenu">
                  <button mat-menu-item (click)="logout()">
                    <mat-icon >exit_to
                        _app</mat-icon>
                    Выход</button>

                </mat-menu>
            </li>
        </ul>
    </div>
    </mat-toolbar-row>
</mat-toolbar>
