<h1 mat-dialog-title>Изменить график</h1>
<form  *ngIf="updateForm" [formGroup]="updateForm" class="my-form" novalidate  novalidate >
  <mat-card-content>

    <mat-form-field class="full-width">
      <mat-label>Название</mat-label>
      <input autocomplete="off" matInput placeholder="Название"  formControlName="name" required>
    </mat-form-field>

    <mat-form-field class="full-width">
      <mat-label>Год</mat-label>
      <input autocomplete="off" matInput placeholder="Год"  formControlName="year" required>
    </mat-form-field>
    <mat-tab-group style="width: 100%;">
      <mat-tab label="По дням недели">
        <div style="display: flex;"> 
          <mat-form-field class="day-input">
            <mat-label>Понедельник</mat-label>
            <input type="number" autocomplete="off" matInput placeholder="Понедельник"  formControlName="monday" required>
          </mat-form-field>
          <mat-form-field class="day-input">
            <mat-label>Вторник</mat-label>
            <input type="number" autocomplete="off" matInput placeholder="Вторник"  formControlName="tuesday" required>
          </mat-form-field>
          <mat-form-field class="day-input">
            <mat-label>Среда</mat-label>
            <input type="number" autocomplete="off" matInput placeholder="Среда"  formControlName="wednesday" required>
          </mat-form-field>
          <mat-form-field class="day-input">
            <mat-label>Четверг</mat-label>
            <input type="number" autocomplete="off" matInput placeholder="Четверг"  formControlName="thursday" required>
          </mat-form-field>
          <mat-form-field class="day-input">
            <mat-label>Пятница</mat-label>
            <input type="number" autocomplete="off" matInput placeholder="Пятница"  formControlName="friday" required>
          </mat-form-field>
          <mat-form-field class="day-input">
            <mat-label>Суббота</mat-label>
            <input type="number" autocomplete="off" matInput placeholder="Суббота"  formControlName="saturday" required>
          </mat-form-field>
          <mat-form-field class="day-input">
            <mat-label>Воскресенье</mat-label>
            <input type="number" autocomplete="off" matInput placeholder="Воскресенье"  formControlName="sunday" required>
          </mat-form-field>
          </div>
          </mat-tab>
          <mat-tab label="Праздники">
              
          </mat-tab>
        </mat-tab-group>
  

  </mat-card-content>

  <div mat-dialog-actions>
    <button mat-button (click)="onNoClick()">Закрыть</button>
    <button type="submit" mat-button [mat-dialog-close]="data.animal" cdkFocusInitial (click)="submit()">Сохранить</button>
  </div>
</form>
