.example-card {
    max-width: 400px;
    padding-bottom:60px;
  }
  @media screen and (max-width: 800px){
    .flex-container {
      flex-wrap: wrap;
      justify-content: center;

    }
    .flex-container-title {
      justify-content: center;
      height: 100px;
    }
  }
  .flex-container {
    display: flex;
  }
  .info-row {
    padding: 15px 0;
    border-bottom: 1px solid silver;
  }
  .info-row>span {
    font-weight: bold;
    padding-left: 20px;
  }
  .p10 {
    margin: 0 10px;
  }
  .skill-group-name {
    padding:5px 0;
  }
  .schedule-date-name {
    padding: 5px 0;
  }
  .skill-box {
    border:1px solid black;
    border-radius: 5px;
    padding:3px 5px;
    margin:3px 5px;
  }
  .skill-box-delete {
    cursor: pointer;
    color:red;
    margin: 0 3px;
  }
