<mat-toolbar>

    <h1 >Настройки </h1>
  </mat-toolbar>

<mat-card class="example-card">
    <mat-card-content>
        <a class="link" routerLink="/settings/skills"><h2>Навыки сотрудников</h2></a>
        <a class="link" routerLink="/settings/department"><h2>Подразделения</h2></a>
        <a class="link" routerLink="/settings/schedule"><h2>Графики работы</h2></a>
        <a class="link" routerLink="/settings/users"> <h2>Пользователи системы</h2></a>
        <a class="link" routerLink="/settings/carma"><h2>Рейтинговая система</h2></a>
    </mat-card-content>
 </mat-card>




