
<mat-toolbar>
    <h1>Список сотрудников </h1>
    <a mat-raised-button color="accent" routerLink="/employee/add">Добавить</a>
  </mat-toolbar>

  <mat-form-field>
    <mat-label>Фильтры</mat-label>
    <input matInput (keyup)="applyFilter($event)" placeholder="">
  </mat-form-field>
<table mat-table class="employee-table mat-elevation-z8" [dataSource]="dataSource">
  
    <ng-container  matColumnDef="id">
        <th  *matHeaderCellDef>id</th>
        <td  *matCellDef="let elem">{{elem.id}}</td>
    </ng-container>
  
    <ng-container matColumnDef="firstName">
        <th  *matHeaderCellDef>first Name</th>
        <td  *matCellDef="let elem">{{elem.firstName}}</td>
    </ng-container>
  
    <ng-container matColumnDef="lastName">
        <th *matHeaderCellDef>last Name</th>
        <td 
                  *matCellDef="let elem">{{elem.lastName}}</td>
    </ng-container>

    <ng-container matColumnDef="birstDay">
        <th *matHeaderCellDef>birstDay</th>
        <td *matCellDef="let elem">{{elem.birstDay}}</td>
    </ng-container>

    <ng-container matColumnDef="telephone">
        <th *matHeaderCellDef>telephone</th>
        <td *matCellDef="let elem">{{elem.telephone}}</td>
    </ng-container>
    
    <tr mat-header-row  *matHeaderRowDef="displayedColumns">
        
    </tr>
    
  <tr mat-row (click)="onRowClicked(row)" 
    *matRowDef="let row; columns: displayedColumns"
    class="example-element-row">
      
    </tr> 
    
</table>
<mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
