<h1 mat-dialog-title>Изменить задачу</h1>
<form class="my-form" novalidate #myForm="ngForm">
  <div mat-dialog-content>
    <mat-form-field class="full-width">
      <mat-label>Название</mat-label>
      <input autocomplete="off" matInput placeholder="Название работы" [(ngModel)]="nameWork" name="nameWork" required>
    </mat-form-field>
 
    <mat-form-field>
      <mat-label>Проект</mat-label>
      <mat-select [(ngModel)]="projectId" [ngModelOptions]="{standalone: true}" name="employeeId">
        <mat-option *ngFor="let project of projects" [value]="project.id">
          {{project.name}} 
        </mat-option>
      </mat-select>
    </mat-form-field>
    <mat-form-field>
      <mat-label>Часовая нагрузка</mat-label>
      <input autocomplete="off" matInput type="number" placeholder="Нагрузка" [(ngModel)]="hours" name="hours" required>
    </mat-form-field>
    <mat-form-field>
      <mat-label>Начало</mat-label>
      <input matInput [matDatepicker]="pickerStart" [(ngModel)]="startTime"  name="birthDay" placeholder="Choose a date">
      <mat-datepicker-toggle matSuffix [for]="pickerStart"></mat-datepicker-toggle>
      <mat-datepicker #pickerStart ></mat-datepicker>
    </mat-form-field>
    <mat-form-field>
      <mat-label>Конец</mat-label>
      <input matInput [matDatepicker]="picker" [(ngModel)]="deadlineTime"  name="birthDay" placeholder="Choose a date">
      <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-datepicker #picker ></mat-datepicker>
    </mat-form-field>
    <mat-form-field class="full-width">
      <mat-label>Исполнитель</mat-label>
      <mat-select [(ngModel)]="employeeId" [ngModelOptions]="{standalone: true}" name="employeeId">
        <mat-option *ngFor="let employee of employees" [value]="employee.id">
          {{employee.secondName}} {{employee.firstName}}
        </mat-option>
      </mat-select>
    </mat-form-field>
    <mat-form-field class="full-width">
      <mat-label>Заливка</mat-label>
      <input matInput autocomplete="off" type="color" matInput placeholder="Конец" [(ngModel)]="fill" name="fill" required>
    </mat-form-field>
    <div mat-dialog-actions>
      <button (click)="delete()" mat-button mat-dialog-close="true" >Удалить</button>
      <button mat-button (click)="onNoClick()">Закрыть</button>
      <button (click)="onSubmit(myForm)" mat-button mat-dialog-close="true" cdkFocusInitial>Изменить</button>
    </div>
  </div>
</form>