<mat-card style="margin: 0 auto; width: 400px;">
    <mat-card-title>
      <h1> Добавить клиента </h1>
      <a mat-raised-button color="" routerLink='/clients'>Back</a>
    </mat-card-title>
    <form class="my-form" novalidate #myForm="ngForm" (ngSubmit)="onSubmit(myForm)">
    <mat-card-content>
     
        <mat-form-field class="full-width">
          <mat-label>Имя</mat-label>
          <input autocomplete="off" matInput placeholder="First name"  [(ngModel)]="firstName"  name="firstName" required>
        </mat-form-field>
        <mat-form-field class="full-width">
          <mat-label>Фамилия</mat-label>
          <input autocomplete="off" matInput placeholder="Last Name" [(ngModel)]="secondName" name="secondName" required>
        </mat-form-field>
  
        <mat-form-field class="full-width">
          <mat-label>Отчество</mat-label>
          <input autocomplete="off" matInput placeholder="Middle Name" [(ngModel)]="middleName" name="middleName" required>
        </mat-form-field>
        <mat-form-field class="full-width">
          <mat-label>Номер телефона</mat-label>
          <input autocomplete="off" matInput placeholder="Phone number" [(ngModel)]="phoneNumber" name="phoneNumber" required>
        </mat-form-field>
        <mat-form-field class="full-width">
          <mat-label>Электронная почта</mat-label>
          <input autocomplete="off" matInput placeholder="Email" [(ngModel)]="email" name="middleName" required>
        </mat-form-field>
        <mat-form-field>
          <mat-label>Дата рождения</mat-label>
          <input matInput [matDatepicker]="picker" [(ngModel)]="birthDay"  name="birthDay" placeholder="Choose a date">
          <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
          <mat-datepicker #picker></mat-datepicker>
        </mat-form-field>
      
    </mat-card-content>
    <mat-card-actions>
    <input type="submit" [disabled]="myForm.invalid" color="primary" (click)='add' value="Добавить">
  {{birthDay | date: 'dd-MM-yyyy'}}
  </mat-card-actions>
  </form>
  </mat-card>
