<mat-card style="width: 400px; margin: 50px auto 0 auto;" >

    <mat-card-title>
        <h1>Авторизация</h1>
      </mat-card-title>

         <mat-card-content>
            <form class="my-form">
               {{error}}
               <mat-form-field class="full-width">
                  <mat-label>Username</mat-label>
                  <input required matInput [(ngModel)]="username" autocomplete="off" placeholder="Your username" name="email">
               </mat-form-field>
               <mat-form-field class="full-width">
                  <mat-label>Password</mat-label>
                  <input required type="password" autocomplete="off" matInput  [(ngModel)]="password" placeholder="Password" name="password">
               </mat-form-field>
            </form>
         </mat-card-content>
         <mat-card-actions>
            <button mat-raised-button (click)="login()" color="primary">Войти</button>
         </mat-card-actions>

</mat-card>
