<mat-toolbar>
    <h1>Профиль: {{employee.firstName}} {{employee.lastName}}</h1>
    <a mat-raised-button color="accent" routerLink="/employee">Назад</a>
  </mat-toolbar>
  <mat-grid-list cols="12" rowHeight="400px">
    
        <mat-grid-tile colspan="4" >
    <mat-card class="example-card">
        <mat-card-content>
           <div style="height: 300px;">
        </div>
          </mat-card-content>
          <mat-card-actions>
            <a mat-raised-button  routerLink="/employee/edit/{{employee.id}}">Редактировать</a>
            <a mat-raised-button color="warn" routerLink="/employee">Удалить</a>    
          </mat-card-actions>
    </mat-card>
    </mat-grid-tile>

    <mat-grid-tile colspan="8">
        <mat-tab-group style="width: 100%;">
            <mat-tab label="Инфо"> 
                <p><span>Дата рождения: </span>{{employee.birstDay}}</p> </mat-tab>
            <mat-tab label="Контакты">
                <p><span>Телефон: </span>{{employee.telephone}}</p>
                <p><span>Почта: </span></p> 
             </mat-tab>
            
          </mat-tab-group>
    </mat-grid-tile>
    </mat-grid-list>