<ngx-spinner bdColor = "rgba(255, 255, 255, 1)" size = "medium" color = "#1b1a1a" type = "square-spin" [fullScreen] = "false"><p style="color:#1b1a1a" > Загрузка... </p></ngx-spinner>
<mat-toolbar>
  <a mat-raised-button class="p10" color="secondary" routerLink="/settings" style="margin-right:10px">Назад</a>
  <h1>Список статусов </h1>
  <button mat-raised-button color="accent" style="margin-right:10px" (click)="createCarma()">Добавить статус </button>
</mat-toolbar>



<mat-form-field style="padding:5px 0">
  <mat-label>Фильтры</mat-label>
  <input matInput (keyup)="applyFilter($event)" placeholder="">
</mat-form-field>
<table matSort  #TableSkillSort="matSort" mat-table class="skill-table mat-elevation-z8" [dataSource]="dataSourceDepartment">

  <ng-container  matColumnDef="id">
    <th  *matHeaderCellDef>id</th>
    <td  *matCellDef="let elem">{{elem.id}}</td>
  </ng-container>
  <ng-container  matColumnDef="name">
    <th  *matHeaderCellDef>Имя</th>
    <td  *matCellDef="let elem">{{elem.name}}</td>
  </ng-container>
  <ng-container  matColumnDef="begin">
    <th  *matHeaderCellDef>Мин.Знач.</th>
    <td  *matCellDef="let elem">{{elem.beginCarma}}</td>
  </ng-container>
  <ng-container  matColumnDef="end">
    <th  *matHeaderCellDef>Макс.Знач.</th>
    <td  *matCellDef="let elem">{{elem.endCarma}}</td>
  </ng-container>


  <ng-container matColumnDef="actions" >
    <th *matHeaderCellDef >Действия</th>
    <td *matCellDef="let elem">
      <button mat-icon-button color="primary" (click)="updateCarma(elem.id, elem.name, elem.beginCarma, elem.endCarma)" aria-label="Example icon button with a heart icon">
        <mat-icon>edit</mat-icon>
      </button>

      <button mat-icon-button color="warn" (click)="deleteCarma(elem.id)"aria-label="Example icon button with a heart icon">
        <mat-icon>delete</mat-icon>
      </button>

    </td>
  </ng-container>

  <tr mat-header-row  *matHeaderRowDef="displayedColumns">
  </tr>
  <tr mat-row
      *matRowDef="let row; columns: displayedColumns"
      class="example-element-row">

  </tr>

</table>
<mat-paginator #TableSkillPaginator="matPaginator" [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>

