@import 'https://code.highcharts.com/css/highcharts.css';


.highcharts-treegrid-node-level-1 {
	font-size: 15px;
	font-weight: bold;
  padding:50;
	fill: black;
}
.skill-box{
   
   padding:2px;
   margin:2px;
   background: #7cb5ec;;
   border-radius: 5px;
}
