<mat-card style="margin: 0 auto; width: 400px;">
  <mat-card-title>
    <h1> Добавить сотрудника </h1>
    <a mat-raised-button color="" routerLink='/front/employee'>Назад</a>
  </mat-card-title>
  <form class="my-form" novalidate #myForm="ngForm" (ngSubmit)="onSubmit(myForm)">
  <mat-card-content>
   
      <mat-form-field class="full-width">
        <mat-label>First Name</mat-label>
        <input matInput placeholder="First name"  ngModel  name="firstName" required>
      </mat-form-field>
      <mat-form-field class="full-width">
        <mat-label>Last Name</mat-label>
        <input matInput placeholder="Last Name" ngModel name="lastName" required>
      </mat-form-field>
      <mat-form-field class="full-width">
        <mat-label>Phone</mat-label>
        <input matInput placeholder="Phone"  ngModel  name="telephone" required>
      </mat-form-field>


      <mat-form-field>
        <mat-label>Date of Birth</mat-label>
        <input matInput [matDatepicker]="picker" ngModel  name="birstDay" placeholder="Choose a date">
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
      </mat-form-field>
    
  </mat-card-content>
  <mat-card-actions>
  <input type="submit" [disabled]="myForm.invalid" color="primary" (click)='add' value="Добавить">
{{birstDay}}
</mat-card-actions>
</form>
</mat-card>